<div class="main-content">
  <div class="profile">
    <img src="../../../assets/images/avatar.jpg" alt="avatar" class="profile-image">

    <div class="info">
      <h2 class="greeting">Hello, I'm</h2>
      <h1 class="name">Olha Prysiazhna</h1>
      <p class="role">Frontend Developer</p>

      <div class="buttons">
        <button class="btn btn-outline">Download CV</button>
        <button class="btn btn-filled">Hire</button>
      </div>

      <div class="social-links">
        <a href="#" class="link-icon circle"><i class="ico icon-linkedin2"></i></a>
        <a href="#" class="link-icon"><i class="ico icon-github"></i></a>
      </div>

    </div>
  </div>
</div>
