<div class="main-content">
  <div class="profile">
    <img src="assets/images/avatar.jpg" alt="avatar" class="profile-image">

    <div class="info">
      <h2 class="greeting">Hello, I'm</h2>
      <h1 class="name">Olha Prysiazhna</h1>
      <p class="role">Frontend Developer</p>

      <div class="buttons">
        <button class="btn btn-outline" (click)="downloadCV()">Download CV</button>
      </div>

      <div class="social-links">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/olha-prysiazhna-382b88193/"
          class="link-icon circle">
          <i class="ico icon-linkedin2"></i>
        </a>
        <a
          target="_blank"
          href="https://github.com/prysiazhna"
          class="link-icon">
          <i class="ico icon-github"></i>
        </a>
      </div>

    </div>
  </div>
</div>
