<header
  class="header"
  appShrinkHeader
  [enableShrink]="!isMenuActive"
  [ngClass]="{'expanded': isMenuActive,'dark-theme': isDarkTheme$ | async}"
  appScrollSpy
  [(activeSection)]="activeSection">
  <div class="container">
    <div class="top-panel">
      <div class="logo" (click)="scrollToTop()">Olha Prysiazhna</div>
      <div class="hamburger">
        <app-hamburger [isActive]="isMenuActive" (toggled)="toggleMenu()"></app-hamburger>
      </div>
    </div>

    <nav class="menu" [ngClass]="{'active': isMenuActive, 'dark-theme': isDarkTheme$ | async}">
      <ul class="list">
        <li *ngFor="let item of menuItems" class="list-item">
          <a
            class="list-item-link"
            (click)="scrollTo(item.section)"
            [ngClass]="{'active': activeSection === item.section}">
            {{ item.label }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

