#skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20rem 0;

  .icons{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .tech-icon {
      width: 10rem;
      height: 10rem;
      padding: 20px 50px;
    }
  }
}

