<div id="experience" class="timeline-container">
  <h1 class="section-title">Experience</h1>
  <div #timeline id="timeline">
    <div class="timeline-item" *ngFor="let item of timelineItems">
      <div class="timeline-icon">
        <i class="{{ item.icon }}" aria-hidden="true"></i>
      </div>
      <div class="timeline-content theme-background" [ngClass]="{'right': item.right}">
        <div class="timeline-content-title theme-text">{{ item.title }}</div>
        <div class="timeline-content-text">{{ item.content }}</div>
        <div class="timeline-content-year">{{item.year}}</div>
      </div>
    </div>
  </div>
</div>





