<div id="contact" class="contact-container">
  <h1 class="section-title">Contact</h1>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
    <div class="contact-form-item">
      <app-custom-input
        [label]="'Name'"
        controlName="name"
        [errors]="getErrors('name')"
        formControlName="name">
      </app-custom-input>
    </div>

    <div class="contact-form-item">
      <app-custom-input
        [label]="'Email'"
        controlName="email"
        [errors]="getErrors('email')"
        formControlName="email">
      </app-custom-input>
    </div>

    <div class="contact-form-item">
      <app-custom-textarea
        [label]="'Message'"
        controlName="message"
        [errors]="getErrors('message')"
        formControlName="message">
      </app-custom-textarea>
    </div>

    <button type="submit" [disabled]="contactForm.invalid" class="btn">Submit</button>
  </form>
</div>

