.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 100vh;

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

    &-item {
      &:not(:first-child) {
        margin-top: 50px;
      }
    }

    .btn {
      font-weight: 400;
      transition: all 300ms ease;
      padding: 1.6rem;
      width: 20rem;
      border-radius: 4rem;
      border: var(--theme-color) 0.2rem solid;
      color: #fff;
      background: var(--theme-color);
      align-self: center;
      font-size: 2.3rem;
      margin-top: 50px;

      &:hover {
        background: #555555;
        border-color: #555555;
        cursor: pointer;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;

        &:hover {
          background: var(--theme-color);
        }
      }
    }
  }
}
