.hamburger-button {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
  position: relative;

  span {
    position: absolute;
    background: var(--theme-inverse-color);
    display: inline-block;
    border-radius: 0.38rem;
    left: 1.75rem;
    height: 0.38rem;
    transition: transform 0.7s ease;

    &:nth-of-type(1) {
      top: 1.9rem;
      width: 45%;
    }

    &:nth-of-type(2) {
      top: 2.8rem;
      width: 35%;
    }

    &:nth-of-type(3) {
      top: 3.75rem;
      width: 20%;
    }
  }

  &.active span {
    &:nth-of-type(1) {
      width: 45%;
      top: 2.25rem;
      left: 1.75rem;
      transform: translateY(0.75rem) rotate(-135deg);
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    &:nth-of-type(3) {
      width: 45%;
      top: 3.75rem;
      left: 1.75rem;
      transform: translateY(-0.75rem) rotate(135deg);
    }
  }
}
