/* You can add global styles to this file, and also import other style files */
@import './variables.less';
@import 'assets/less/fonts';

:root {
  --theme-color: @theme_grey;
  font-size: 8px;
}

body.dark-theme {
  background-color: black;
  color: #fff;

  a {
    color: #fff!important;
  }
}


.btn {
  background-color: var(--theme-color);
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  //font-weight: 400;
}
.no-scroll {
  overflow: hidden;
}
